/* Big tablet to 1200px: widths smaller than 1140px row */
@media only screen and (max-width: 1200px) {
    .main-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }
}

/* Small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    #bioPic img {
        margin-top: 50px;
        margin-left: 15px;
        height: 190px;
    }

    cite { margin-left: 15px; }

    #bioPic { margin-top: 5px; }

    .bio-text { 
        width: 95%; 
        line-height: 140%;
    }
}

/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .box { padding: 0 4%; }

    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }

    #bioPic img { height: 140px; }

    /* .main-nav { display: none; } */

    .mobile-nav-icon { display: inline-block; }

    .main-nav { 
        float: left; 
        margin-top: 35px;
        margin-left: 25px;
    }

    .main-nav li { display: block; }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .long-copy { 
        width: 100%; 
        margin-left: 0; 
    }

    .bio-text { width: 100%; }

    h1 { 
        font-size: 180%;
        margin-bottom: 10px;
    }

    h2 { 
        font-size: 150%; 
        margin-bottom: 10px;
    }
    
    h3 { 
        font-size: 150%; 
        margin-bottom: 10px;
    }

    h2:after,
    h3:after,
    #cupping:after { margin-top: 10px; }

    .subcat { margin-bottom: 10px; }

    .aboutUs .long-copy { margin-bottom: 10px; }

    .sticky .main-nav {margin-top: 10px;}

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; } 
    .sticky #menu { color: #555; }

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
    #bioPic img { 
        height: 140px; 
        margin-top: 0;
        margin-left: 29%;
        margin-bottom: 5px;
    }

    cite { margin-left: 35%; }

    #bio-text { margin-top: 5px; }

    .main-text-box {
        width: 100%;
        height: 250px;
    }

    header { height: 400px; }

    h1 { font-size: 150%; }

    h2 { font-size: 140%; }
    
    h3 { font-size: 150%; }

    section { padding: 25px 0; }

    footer { padding: 20px; }

    .footer-nav li,
    .social-links li {
    margin-right: 10px;
}

}