/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, 
body {
    background-color: fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

*:focus {
    outline: 2px solid #636B7F; 
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid #636B7F;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/* REUSABLE COMPONENTS  */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

iframe {
    width: 80%; 
    margin-right: 10%;
    margin-left: 10%;
}

/* HEADER */

.header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.7)),to(rgba(0,0,0,.7))), url(img/acupunctureBackground.jpg);
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(img/acupunctureBackground.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    background-color: #FFFFFF;
}

.main-text-box {
    position: absolute;
    width: 1140px; 
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}


/* MAIN NAV */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.nav-header {
    float: left;
    padding: 8px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    /* removes the underline from the link */
    text-transform: uppercase;
    font-size: 90%;     
    /* will be 90% of the base font size as determined under html */
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #636B7F;
}

/* MOBILE NAV */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    display: none;
    cursor: pointer;
}

.fa-bars,
.fa-times {
    font-size: 200%;
    color: #fff;    
}

/* STICKY NAV USING JQUERY */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255,255,255, .98);
    -webkit-box-shadow: 0 2px 2px rgb(233,233,233);
            box-shadow: 0 2px 2px rgb(233,233,233);
    z-index: 9999;
}

nav .row {
    background-color: #ffffff;
}

.sticky .main-nav {margin-top: 40px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

/* HEADINGS */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2,
h3 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after,
h3:after,
#cupping:after {
    display: block;
    height: 2px;
    background-color: #636B7F;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.subcat {
    font-size: 120%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px; 
}

/* PARAGRAPHS */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* BUTTONS */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #F8D2BF;
    border: 1px solid #F8D2BF;
    color: #585F6F;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #636B7F;
    color: #636B7F;
}

.btn:hover,
.btn:active,
.btn:focus,
input[type=submit] {
    background-color: #636B7F;
    color: #F8D2BF;
}

.btn-full:hover,
.btn-full:active,
,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #636B7F;
    border: 1px solid #636B7F;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #636B7F;
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    border-radius: 5%;
    margin-right: 10px;
    margin-top: 0;
}


/* ABOUT US */

.aboutUs .long-copy {
    margin-bottom: 40px;
}

/* ABOUT ERIN */

.section-staff {
    background-color: #555;
    color: #fff;
}

blockquote:before {
    font-size: 500%;
    content: "\201C";
    display: block;
    position: absolute;
    top: 0px;
    left: -5px;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

#bioPic {
    font-size: 90%;
    margin-top: 125px;
    display: block;
}

#bioPic img {
    height: 225px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

#staff-name {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

/* LINKS */

.pdf {
    text-align: center;
}

/* FOOTER */

footer {
    background-color: rgb(58, 58, 58);
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child,
.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: rgb(184, 180, 180);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: rgb(235, 235, 235);
}

.social-links li a:link, 
.social-links li a:visited {
    font-size: 160%;
}

.facebook,
.instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

footer p {
    color: rgb(184, 180, 180);
    text-align: center;
    margin-top: 20px;
}

.social-links li a:hover,
.social-links li a:active {
    font-size: 180%;
}

.facebook:hover { color: #3b5998; }

.instagram:hover { color: #e95950; }

/* RESEARCH PAGE */

.research-links {
    list-style: none;
}

.research-links li {
    margin-bottom: 20px;
    text-align: center;
}

.research-links li a:link,
.research-links li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #636B7F;
    /* removes the underline from the link */
    text-transform: uppercase;
    font-size: 90%;     
    /* will be 90% of the base font size as determined under html */
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.research-links li a:hover,
.research-links li a:active,
.research-links li:focus {
    border-bottom: 2px solid #F8D2BF;
}